img {
	margin: 0px;
	padding: 0px;
}
#main {
	margin: 0px;
	padding: 0px;
}
#main li.multiview_cam {
	display: list-item;
        list-style: none;
        margin: 0px;
         display: list-item;
        position: relative;
       	vertical-align: top;
        float: left;
        background: #000;
        border: 1px;
        border-color: #000;
}

